<% include ../partials/header %>

<header class="jumbotron">
  <div class="container">
    <div class="text-center jumbotronText mt-5">
      <h1 class="index"">Welcome To YelpCamp!</h1>
      <h5>View our hand-picked campgrounds from all over the world</h5>
      <a class="btn btn-lg btn-success" href="/campgrounds/new">Add New campground</a>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <% campgrounds.forEach(function(campground) { %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card indexCards shadow border-0 mt-4">
        <a href="/campgrounds/<%= campground._id %>"><img id="campgroundCard" class="card-img-top" src="<%= campground.image %>" /></a>
        <div class="card-body">
          <h5 class="card-title text-capitalize">
            <a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
            <small class="float-right"><%= campground.price %>₹</small>
          </h5>
          <h6 class="card-subtitle">
            <% if(campground.comments.length === 0) { %>
            <span class="text-muted">No Reviews</span>
            <% } else { %>
            <span class="text-muted"><%= campground.comments.length %> Reviews</span>
            <% } %>
          </h6>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
